/* ================== */
/* Styling for Gallows */
/* ================== */

/* add "bending" effect to gallows on hover */
div[id*="gallows__"]:hover {
  transition: all 0.5s ease;
  animation: swing 0.5s ease;
  cursor: pointer;
}

/* add "bending" effect to character on display */
div[id*="character__"] {
  transition: all 0.5s ease;
  animation: swing 0.5s ease;
}

/* add "bending" effect to character when clicked */
/* div[id*="character__"]:active {
  transition: all 0.5s ease;
  animation: swing 0.5s ease;
  cursor: pointer;
} */

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#gallows__small__vertical {
  height: 50px;
  width: 10px;
  background: black;
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
}

#gallows__top__horizontal {
  height: 10px;
  width: 175px;
  background: black;
  margin-left: 85px;
}

#gallows__middle__vertical {
  height: 400px;
  width: 10px;
  background: black;
  margin-right: 80px;
}

#gallows__bottom__horizontal {
  height: 10px;
  width: 200px;
  background: black;
  margin-right: 80px;
}

/* gallows on iPad Mini */
@media screen and (max-width: 768px; max-height: 1024px) {
  #gallows__small__vertical {
    height: 35px;
    width: 10px;
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    margin-right: 45px;
  }

  #gallows__top__horizontal {
    height: 10px;
    width: 100px;
    background: black;
    margin-left: 10px;
  }

  #gallows__middle__vertical {
    height: 225px;
    width: 10px;
    background: black;
    margin-right: 80px;
  }

  #gallows__bottom__horizontal {
    height: 10px;
    width: 125px;
    background: black;
    margin-right: 80px;
  }
}

@media screen and (max-width: 500px) {
  #gallows__small__vertical {
    height: 35px;
    width: 5px;
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    margin-right: 32px;
  }

  #gallows__top__horizontal {
    height: 5px;
    width: 100px;
    background: black;
    margin-left: 15px;
  }

  #gallows__middle__vertical {
    height: 190px;
    width: 5px;
    background: black;
    margin-right: 80px;
  }

  #gallows__bottom__horizontal {
    height: 5px;
    width: 100px;
    background: black;
    margin-right: 80px;
  }
}

/* gallows on 425px mobile */
@media screen and (max-width: 425px) {
  #gallows__small__vertical {
    height: 35px;
    width: 5px;
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    margin-right: 48px;
  }

  #gallows__top__horizontal {
    height: 5px;
    width: 80px;
    background: black;
    margin-left: -5px;
  }

  #gallows__middle__vertical {
    height: 170px;
    width: 5px;
    background: black;
    margin-right: 80px;
  }

  #gallows__bottom__horizontal {
    height: 5px;
    width: 100px;
    background: black;
    margin-right: 80px;
  }
}

/* ================== */
/* Styling for Character */
/* ================== */
#character__head {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 10px solid black;
  position: absolute;
  top: 50px;
  right: -30px;
}

#character__body {
  width: 10px;
  height: 100px;
  background: black;
  position: absolute;
  top: 120px;
  right: 0px;
}

#character__left__arm {
  width: 80px;
  height: 10px;
  background: black;
  position: absolute;
  top: 150px;
  right: 10px;
  rotate: 30deg;
  transform-origin: right bottom;
}

#character__right__arm {
  width: 80px;
  height: 10px;
  background: black;
  position: absolute;
  top: 150px;
  right: -80px;
  rotate: -30deg;
  transform-origin: left bottom;
}

#character__left__leg {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 210px;
  right: 0;
  rotate: -60deg;
  transform-origin: right bottom;
}

#character__right__leg {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 210px;
  right: -90px;
  rotate: 60deg;
  transform-origin: left bottom;
}

/* character on iPad Mini */
@media screen and (max-width: 768px; max-height: 1024px) {
  #character__head,
  #character__body,
  #character__left__arm,
  #character__right__arm,
  #character__left__leg,
  #character__right__leg {
    margin-right: 28px;
  }

  #character__head {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 10px solid black;
    position: absolute;
    top: 30px;
    right: 2px;
  }

  #character__body {
    width: 10px;
    height: 70px;
    background: black;
    position: absolute;
    top: 60px;
    right: 18px;
  }

  #character__left__arm {
    width: 45px;
    height: 10px;
    background: black;
    position: absolute;
    top: 90px;
    right: 25px;
    rotate: 30deg;
    transform-origin: right bottom;
  }

  #character__right__arm {
    width: 45px;
    height: 10px;
    background: black;
    position: absolute;
    top: 90px;
    right: -25px;
    rotate: -30deg;
    transform-origin: left bottom;
  }

  #character__left__leg {
    width: 55px;
    height: 10px;
    background: black;
    position: absolute;
    top: 118px;
    right: 0;
    margin-right: 45px;
    rotate: -60deg;
    transform-origin: right bottom;
  }

  #character__right__leg {
    width: 55px;
    height: 10px;
    background: black;
    position: absolute;
    top: 118px;
    right: -28px;
    rotate: 60deg;
    transform-origin: left bottom;
  }
}

@media screen and (max-width: 500px) {
  #character__head,
  #character__body,
  #character__left__arm,
  #character__right__arm,
  #character__left__leg,
  #character__right__leg {
    margin-right: 32px;
  }

  #character__head {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 5px solid black;
    position: absolute;
    top: 32px;
    right: -10px;
  }

  #character__body {
    width: 5px;
    height: 50px;
    background: black;
    position: absolute;
    top: 55px;
    right: 0;
  }

  #character__left__arm {
    width: 35px;
    height: 5px;
    background: black;
    position: absolute;
    top: 75px;
    right: 3px;
    rotate: 30deg;
    transform-origin: right bottom;
  }

  #character__right__arm {
    width: 35px;
    height: 5px;
    background: black;
    position: absolute;
    top: 75px;
    right: -33px;
    rotate: -30deg;
    transform-origin: left bottom;
  }

  #character__left__leg {
    width: 45px;
    height: 5px;
    background: black;
    position: absolute;
    top: 100px;
    right: 0;
    margin-right: 32px;
    rotate: -60deg;
    transform-origin: right bottom;
  }

  #character__right__leg {
    width: 45px;
    height: 5px;
    background: black;
    position: absolute;
    top: 100px;
    right: -40px;
    rotate: 60deg;
    transform-origin: left bottom;
  }
}

@media screen and (max-width: 425px) {
  #character__head,
  #character__body,
  #character__left__arm,
  #character__right__arm,
  #character__left__leg,
  #character__right__leg {
    margin-right: 48px;
  }

  #character__head {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 5px solid black;
    position: absolute;
    top: 32px;
    right: -10px;
  }

  #character__body {
    width: 5px;
    height: 50px;
    background: black;
    position: absolute;
    top: 55px;
    right: 0;
  }

  #character__left__arm {
    width: 35px;
    height: 5px;
    background: black;
    position: absolute;
    top: 75px;
    right: 3px;
    rotate: 30deg;
    transform-origin: right bottom;
  }

  #character__right__arm {
    width: 35px;
    height: 5px;
    background: black;
    position: absolute;
    top: 75px;
    right: -33px;
    rotate: -30deg;
    transform-origin: left bottom;
  }

  #character__left__leg {
    width: 45px;
    height: 5px;
    background: black;
    position: absolute;
    top: 100px;
    right: 0;
    margin-right: 48px;
    rotate: -60deg;
    transform-origin: right bottom;
  }

  #character__right__leg {
    width: 45px;
    height: 5px;
    background: black;
    position: absolute;
    top: 100px;
    right: -40px;
    rotate: 60deg;
    transform-origin: left bottom;
  }
}
