/* ================== */
/* Styling for Gallows */
/* ================== */

/* add "bending" effect to gallows on hover */
/* div[id*="gallows__"]:hover {
  transform: skew(-5deg);
  transition: all 0.5s ease;
} */

#gallows__small__vertical {
  height: 50px;
  width: 10px;
  background: black;
  position: absolute;
  top: 0;
  /* right: 110px; */
  right: 0;
  margin: auto;
}

#gallows__top__horizontal {
  height: 10px;
  width: 175px;
  background: black;
  margin-left: 85px;
}

#gallows__middle__vertical {
  height: 400px;
  width: 10px;
  background: black;
  /* margin-left: 120px; */
  margin-right: 80px;
}

#gallows__bottom__horizontal {
  height: 10px;
  width: 200px;
  background: black;
  /* margin-left: 50px; */
  margin-right: 80px;
}

/* gallows on 425px mobile */
/* @media screen and (max-width: 600px) {
  #gallows__small__vertical {
    height: 50px;
    width: 10px;
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 180px;
  }

  #gallows__top__horizontal {
    height: 10px;
    width: 110px;
    background: black;
    margin-left: 0;
    margin-left: 170px;
  }

  #gallows__middle__vertical {
    height: 300px;
    width: 10px;
    background: black;
    margin-left: 0;
    margin: 0px 0px 0px 170px;
  }

  #gallows__bottom__horizontal {
    height: 10px;
    width: 110px;
    margin-left: 120px;
    background: black;
  }
} */

/* gallows on 425px mobile */
@media screen and (max-width: 500px) {
  #gallows__small__vertical {
    height: 35px;
    width: 10px;
    background: black;
    position: absolute;
    top: 0;
    /* right: 110px; */
    right: 0;
    margin: auto;
    margin-right: 45px;
  }

  #gallows__top__horizontal {
    height: 10px;
    width: 100px;
    background: black;
    margin-left: 10px;
  }

  #gallows__middle__vertical {
    height: 250px;
    width: 10px;
    background: black;
    /* margin-left: 120px; */
    margin-right: 80px;
  }

  #gallows__bottom__horizontal {
    height: 10px;
    width: 125px;
    background: black;
    /* margin-left: 50px; */
    margin-right: 80px;
  }
}

/* gallows on 425px mobile */
@media screen and (max-width: 425px) {
  #gallows__small__vertical {
    height: 35px;
    width: 10px;
    background: black;
    position: absolute;
    top: 0;
    /* right: 110px; */
    right: 0;
    margin: auto;
    margin-right: 45px;
  }

  #gallows__top__horizontal {
    height: 10px;
    width: 100px;
    background: black;
    margin-left: 10px;
  }

  #gallows__middle__vertical {
    height: 250px;
    width: 10px;
    background: black;
    /* margin-left: 120px; */
    margin-right: 80px;
  }

  #gallows__bottom__horizontal {
    height: 10px;
    width: 125px;
    background: black;
    /* margin-left: 50px; */
    margin-right: 80px;
  }
}

/* ================== */
/* Styling for Character */
/* ================== */
#character__head {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 10px solid black;
  position: absolute;
  top: 50px;
  right: -30px;
}

#character__body {
  width: 10px;
  height: 100px;
  background: black;
  position: absolute;
  top: 120px;
  right: 0px;
}

#character__left__arm {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 150px;
  right: 10px;
  rotate: 30deg;
  transform-origin: right bottom;
}

#character__right__arm {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 150px;
  right: -100px;
  rotate: -30deg;
  transform-origin: left bottom;
}

#character__left__leg {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 210px;
  right: 0;
  rotate: -60deg;
  transform-origin: right bottom;
}

#character__right__leg {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 210px;
  right: -90px;
  rotate: 60deg;
  transform-origin: left bottom;
}

/* character on 500px mobile */
@media screen and (max-width: 500px) {
  #character__head,
  #character__body,
  #character__left__arm,
  #character__right__arm,
  #character__left__leg,
  #character__right__leg {
    margin-right: 25px;
  }

  #character__head {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 10px solid black;
    position: absolute;
    top: 30px;
    right: 5px;
  }

  #character__body {
    width: 10px;
    height: 75px;
    background: black;
    position: absolute;
    top: 69px;
    right: 20px;
  }

  #character__left__arm {
    width: 50px;
    height: 10px;
    background: black;
    position: absolute;
    top: 100px;
    right: 25px;
    rotate: 30deg;
    transform-origin: right bottom;
  }

  #character__right__arm {
    width: 50px;
    height: 10px;
    background: black;
    position: absolute;
    top: 100px;
    right: -25px;
    rotate: -30deg;
    transform-origin: left bottom;
  }

  #character__left__leg {
    width: 60px;
    height: 10px;
    background: black;
    position: absolute;
    top: 132px;
    right: 0;
    margin-right: 45px;
    rotate: -60deg;
    transform-origin: right bottom;
  }
  #character__right__leg {
    width: 60px;
    height: 10px;
    background: black;
    position: absolute;
    top: 132px;
    right: -30px;
    rotate: 60deg;
    transform-origin: left bottom;
  }
}
