@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

/* change text to 8-bit */
* {
  font-family: "Press Start 2P", cursive;
  font-size: 80%;
}

/* * {
  height: 90%;
} */

/* morphing background colors */
body {
  background: linear-gradient(
    -45deg,
    #ff0000,
    #ffff00,
    #00ff00 40px,
    #ff00ff,
    #00ffff,
    #ffffff
  );
  background-size: 600% 600%;
  animation: change 30s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* 
#keyboard__div {
  gridtemplatecolumns: "repeat(auto-fill, minmax(45px, 1fr))";
  grid-template-columns: "repeat(auto-fill, minmax(45px, 1fr))";
} */

/* styling for div button */
.button__class {
  cursor: pointer;
  box-sizing: border-box;
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
  background-color: #efefef;
}

/* change div button style on hover */
.button__class:hover {
  background-color: #e0e0e0;
  transform: translateY(-0.1em);
  transition: 0.2s;
}

.button__class:active {
  background-color: #d0d0d0;
  transition: 0.2s;
}

/* moving background on mobile */
@media (max-width: 600px) {
  body {
    background-size: 100% 100%;
  }
}

/* hangmanDrawing on mobile */
@media (max-width: 600px) {
  #hangman__container {
    overflow-y: scroll;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
  }
}

/* letter__div on mobile */
@media (max-width: 600px) {
  #letter__div {
    width: 100%;
    text-align: center;
    overflow-y: scroll;
    overflow-x: scroll;
  }
}
