@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

/* make a diagnonal pattern in christmas colors the background */
body {
  background: linear-gradient(
    -45deg,
    #ff0000,
    #ffff00,
    #00ff00 40px,
    #ff00ff,
    #00ffff,
    #ffffff
  );
  background-size: 600% 600%;
  animation: change 30s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* body {
  background-color: #ebebeb;
  background: linear-gradient(
    -45deg,
    #ff0000,
    #ff0000 10px,
    #ff8000 10px,
    #ff8000 20px,
    #ffff00 20px,
    #ffff00 30px,
    #00ff00 30px,
    #00ff00 40px,
    #0080ff 40px,
    #0080ff 50px,
    #0000ff 50px,
    #0000ff 60px,
    #8000ff 60px,
    #8000ff 70px,
    #ff00ff 70px,
    #ff00ff 80px,
    #ff0000 80px
  );
  background-size: 50px 50px;
  animation: change 30s ease-in-out infinite;
} */

/* body {
  background: linear-gradient(
    45deg,
    #f5f5f5,
    #f5f5f5 25%,
    #ff0000 25%,
    #ff0000 50%,
    #f5f5f5 50%,
    #f5f5f5 75%,
    #0000ff 75%,
    #0000ff
  );
  background-size: 50px 50px;
  animation: change 30s ease-in-out infinite;
} */

/* @keyframes change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

/* * {
  background-color: whitesmoke;
} */

h1,
h2,
h3 {
  /* font-family: "Press Start 2P", cursive; */
  /* font-family: "Permanent Marker", cursive; */
  /* text-shadow: 3px 3px 0px #2038ec; */
}
