@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

/* DESKTOP VIEW */
* {
  font-family: "Press Start 2P", cursive;
  font-size: 80%;
}

/* background colors */
body {
  background: linear-gradient(
    -45deg,
    #ff0000,
    #ffff00,
    #00ff00 40px,
    #ff00ff,
    #00ffff,
    #ffffff
  );
  background-size: 600% 600%;
  animation: change 30s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* styling for div button */
.button__class {
  cursor: pointer;
  box-sizing: border-box;
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
  background-color: #efefef;
}

/* div-button style on hover */
.button__class:hover {
  background-color: #e0e0e0;
  transform: translateY(-0.1em);
  transition: 0.2s;
}

.button__class:active {
  background-color: #d0d0d0;
  transition: 0.2s;
}

/* div-button wiggle */
.button__class:active {
  animation: wiggle 0.2s;
}

@keyframes wiggle {
  0% {
    transform: translateY(0.1em);
  }
  50% {
    transform: translateY(-0.1em);
  }
  100% {
    transform: translateY(0.1em);
  }
}

#finale__div {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: -2rem;
  text-align: center;
}

#finale__message__top {
  margin-bottom: 10px;
}

#finale__message__bottom {
  font-size: 15px;
}

#title__div {
  display: flex;
  flex-direction: column;
  margin-bottom: -3.5rem;
  margin-top: 2rem;
  gap: 1rem;
  font-size: 1.5rem;
  align-items: center;
}

#hangman__display,
#hangman__container {
  position: relative;
}

#remaining__guesses {
  position: absolute;
  padding: 0.5rem;
  padding-bottom: 0.5rem;
  top: 0;
  right: 0;
  font-size: 1.2rem;
}

/* MOBILE VIEW */
@media (max-width: 600px) {
  /* font on mobile */
  * {
    font-size: 50%;
  }

  /* moving background on mobile */
  body {
    background-size: 100% 100%;
  }

  /* #sticky__top {
    position: sticky;
    top: 0;
    z-index: 1;
    margin-top: 1.2rem;
    margin-left: 34vw;
  } */

  /* remaining__guesses on mobile */
  #remaining__guesses {
    font-size: 1.8rem;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-top: 1.2rem;
    margin-left: 74vw;
  }

  /* guessed__letter on mobile */
  #guessed__letter {
    font-size: 1.2rem;
  }

  /* title__div on mobile */
  #title__div {
    margin-top: 2rem;
  }

  /* finale__div on mobile */
  #finale__div {
    margin-top: 2rem;
    margin-bottom: -2rem;
    font-size: 6rem;
  }

  /* finale__message__bottom on mobile */
  #finale__message__bottom {
    font-size: 1.2rem;
  }

  /* hangmanDrawing on mobile */
  #hangman__container {
    overflow-y: scroll;
    overflow-x: scroll;
  }

  /* #hangman__display on mobile */
  #hangman__display {
    overflow-y: scroll;
    overflow-x: scroll;
    width: 80%;
  }

  /* letter__div on mobile */
  #letter__div {
    text-align: center;
    overflow-y: scroll;
    overflow-x: scroll;
  }

  /* letter__div on mobile */
  .button__class {
    cursor: pointer;
    margin: 0em;
    font-size: 1rem;
    border-width: 2px;
  }
}

/* mobile for 375px -- MY PHONE */
@media (max-width: 375px) {
  /* remaining__guesses on mobile */
  #remaining__guesses {
    font-size: 1.8rem;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-left: 59vw;
  }

  /* letter__div on mobile */
  .button__class {
    cursor: pointer;
    margin: 0em;
    font-size: 1rem;
    border-width: 2px;
  }
}
