.btn {
  width: 100%;
  border: 3px solid black;
  background: none;
  aspect-ratio: 1 / 1;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.btn.active {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.btn:hover {
  background-color: #e0e0e0;
  transform: translateY(-0.1em);
  transition: 0.2s;
}

.btn.inactive {
  opacity: 0.3;
  /* transition: all 1s ease;
  rotate: 360deg; */
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}

/* rotate keyboard__div  by 360 degrees */
/* @keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.keyboard__div {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-gap: 0.5rem;
  padding: 0.5rem;
  overflow-x: scroll;
  overflow-y: scroll;
  align-items: center;
}

/* keyboard on mobile */
@media (max-width: 720px) {
  .keyboard__div {
    grid-template-columns: repeat(6, 1fr);
  }
}
/*
@media (max-height: 1368px) { // keyboard on mobile - Surface Pro 7
  .keyboard__div { 
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-height: 1180px) { // keyboard on mobile - iPad Air & iPad Mini
  .keyboard__div {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (max-height: 1000px) { // keyboard on mobile - Laptop 13"
  .keyboard__div {
    grid-template-columns: repeat(10, 1fr);
  }
}

@media (max-height: 720px) { // keyboard on mobile - Surface Pro 7
  .keyboard__div {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-height: 667px) { // keyboard on mobile - iPhone SE
  .keyboard__div {
    grid-template-columns: repeat(6, 1fr);
  }
}
*/
